BasedOnStyle: Microsoft
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Inline
ColumnLimit: 120
PointerAlignment: Left
DerivePointerAlignment: false
SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements
SortIncludes: true
AllowShortIfStatementsOnASingleLine: true
AllowShortBlocksOnASingleLine: false